<div class="w3-container w3-teal w3-padding-large">
    <h1 class="w3-padding-64"><b> </b></h1>
    <h1><b>Learn, Practice, Share</b></h1>

    <div class="w3-panel">
        <h3>
        A place for Computing students to share experiences and seek the necessary
            help for their academic studies.
        </h3>
</div>


<div class="w3-cell-top w3-light-grey w3-padding-large w3-margin-bottom">
    <h2 class="w3-left-align"><b>Learn:</b></h2>
        <h3>A wide range of Computing courses</h3>
        <button class="w3-large w3-button w3-round-xlarge w3-teal" onclick="location.replace('/courses')">Courses</button>
</div>

<div class="w3-cell-top w3-light-grey w3-padding-large w3-margin-bottom">
    <h2 class="w3-left-align"><b>Practice:</b></h2>
        <h3>A wide range of Practice Exercises</h3>
        <button class="w3-large w3-button w3-round-xlarge w3-teal" onclick="location.replace('/exercise')">Exercises</button>
</div>

<div class="w3-cell-top w3-light-grey w3-padding-large">
    <h2 class="w3-left-align"><b>Share:</b></h2>
        <h3>Sign in and Get in touch with others</h3>
        <button class="w3-large w3-button w3-round-xlarge w3-teal" onclick="location.replace('/forum')">Discusions Forum</button>
        <br>
        <br>
        <button class="w3-large w3-button w3-round-xlarge w3-teal" onclick="location.replace('/friendlist')">E2EE Messaging</button>
</div>

