
Registration Sucess.
Press 'share' to share your public key and Continue
</p>
<p>
<form action="/key" method="post">
    <input id="publickey" name="publickey" type="hidden" />
    <input id="verifykey" name="verifykey" type="hidden" />
    <script src="js/keypair.js"></script>
    <input id="btn" value="share" type="submit" />
</form>

Download Your keys
<br>
<button id="pvk">PrivateKey</button>
<button id="sgk">SignatureKey</button>
<script src="js/downloadKey.js"></script>
</p>
</center>