
<div class="w3-container w3-teal">
    <br>
    <h2 class="w3-margin-top w3-margin-bottom"><b>Login with a username and password</b></h2>
    <br>
</div>

</p>
<p>
<form class="w3-container" action="/login" method="post">
<br>
    <label class="w3-text-teal"><h4><b>Username:</b</h4></label>
    <input class="w3-margin-bottom" name="username" type="text" />
<br>
    Password: <input name="password" type="password" />
<br>
    <input class="w3-check" type="checkbox" name="admin" value="admin">
    <label for="admin">Login as Admin</label>
<br>
    <input class="w3-large w3-button w3-round-xlarge w3-teal" value="Login" type="submit" />
</form>
</p>
</center>

